*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --hue-neutral: 400;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    font-family: Quicksand;
    --hue: var(--hue-neutral);
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vw;
    height: 200vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
}

.terms-container {
    width: 800px;
    max-width: 80%;
    background-color: darkkhaki;
    padding: 10px;
    color: hsl(var(--hue), 100%, 20%);
    border-radius: 5px;
    margin-bottom: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.p:a {
    text-decoration: dotted;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 15px;
    line-height: 1.5;
}